/* 中文園體 */
@font-face {
    font-family: 'OpenHuninn';
    src: url('/src/jf-openhuninn-2.0.ttf') format('truetype');
}

/* 英文字體 */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v31/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --h: 8.31;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", "OpenHuninn", sans-serif;
    height: 138.34vmin;
    color: #FFF;
    background: #000;
    overflow-x: hidden;
    transition: opacity 0.2s ease-out;
}

/* home */

header h1 {
    font-size: 4vmin;
    font-weight: 400;
    padding: calc(42vmin / var(--h));
    padding-bottom: 0;
}

header h2 {
    font-size: 2vmin;
    font-weight: 400;
    padding-left: calc(42vmin / var(--h));
}
header {
    background: radial-gradient(rgba(0, 40, 239, 0.251) 0%, rgb(0, 0, 0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.2s ease-out;
    z-index: 2;
    font-size: 2.4vmin;
}

header>div {
    width: calc(400vmin / 3);
    height: 100vmin;
    margin: 0 auto;
    position: relative;
}

header>div div {
    background-size: contain !important;
}

.lcd {
    width: calc(268vmin / var(--h));
    height: calc(107.296vmin / var(--h));
    background: url(/src/img/LCD.svg) no-repeat;
    position: absolute;
    top: calc(42vmin / var(--h));
    right: calc(42vmin / var(--h));
    padding: 3vmin 2.7vmin;
}

.lcdButton {
    position: absolute;
    background: url(/src/img/redButton.svg) no-repeat;
    width: calc(42vmin / var(--h));
    height: calc(42vmin / var(--h));
    top: calc(168vmin / var(--h));
    right: calc(42vmin / var(--h));
    cursor: pointer;
}

.lcdText {
    position: absolute;
    top: calc(170vmin / var(--h));
    height: calc(42vmin / var(--h));
    right: calc(93.89vmin / var(--h));
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ukraine {
    position: absolute;
    top: calc(248vmin / var(--h));
    height: calc(34vmin / var(--h));
    width: calc(34vmin / var(--h));
    right: calc(146vmin / var(--h));
    background: url(/src/img/ukraine.svg) no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ukraine::after {
    content: "";
    width: calc(14vmin / var(--h));
    height: calc(14vmin / var(--h));
    background: url(/src/img/ukraineX.svg) no-repeat center;
    cursor: pointer;
}

#ukraineBrightness,
.ukraineText.ukraineBrightness {
    top: calc(293vmin / var(--h));
}

.ukraineText {
    position: absolute;
    top: calc(248vmin / var(--h));
    height: calc(34vmin / var(--h));
    left: calc(970vmin / var(--h));
    display: flex;
    align-items: center;
}


.bHole {
    position: absolute;
    bottom: calc(166vmin / var(--h));
    right: calc(45vmin / var(--h));
    width: calc(52vmin / var(--h));
    height: calc(58vmin / var(--h));
    background: url(/src/img/bHole.svg) no-repeat center;
    z-index: 2;
}

.charger {
    position: absolute;
    top: calc(636vmin / var(--h));
    right: calc(48vmin / var(--h));
    width: calc(208vmin / var(--h));
    height: calc(365vmin / var(--h));
    background: url(/src/img/charger.svg) no-repeat top right;
    transition: transform 0.2s ease;
}

.charger:hover,
.bHole:hover+.charger {
    transform: translateY(3vmin);
}

.charger:active,
.bHole:active+.charger {
    transform: translateY(5vmin);
}

.chargerText {
    position: absolute;
    text-align: right;
    top: calc(706vmin / var(--h));
    right: calc(110vmin / var(--h));
}

.cpu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(129vmin / var(--h));
    height: calc(129vmin / var(--h));
    transform: translate(-50%, -50%);
    background: url(/src/img/cpu.svg) no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cpu img {
    height: calc(43vmin / var(--h));
}

.scaict {
    position: absolute;
    top: 61%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 3vmin;
}

.friend {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: calc(331vmin / var(--h));
    left: calc(79vmin / var(--h));
    width: calc(61vmin / var(--h));
    height: calc(72vmin / var(--h));
    border: calc(2vmin / var(--h)) solid #FFF;
}

.friend a {
    text-decoration: none;
    display: block;
    color: #FFF;
    font-size: 1.5vmin;
}

.motor {
    position: absolute;
    background: url(/src/img/motor.svg) no-repeat;
    width: calc(64.985vmin / var(--h));
    height: calc(166.523vmin / var(--h));
    top: calc(528vmin / var(--h));
    left: calc(76.1vmin / var(--h));
}

.spinner {
    position: absolute;
    background: url(/src/img/spinner.svg) center no-repeat;
    width: calc(73.108vmin / var(--h));
    height: calc(154.338vmin / var(--h));
    top: calc(508vmin / var(--h));
    left: calc(72vmin / var(--h));
    transform-origin: center;
    animation: rotate 3s linear infinite;
    transition: transform 0.2s ease;
}

#motorSwitch {
    display: none;
}

.switch {
    position: absolute;
    background: url(/src/img/switch.svg) no-repeat;
    width: calc(49vmin / var(--h));
    height: calc(26vmin / var(--h));
    top: calc(729vmin / var(--h));
    left: calc(85vmin / var(--h));
    cursor: pointer;
    background-size: contain;
}

.switchToggle {
    position: absolute;
    width: calc(12vmin / var(--h));
    height: calc(12vmin / var(--h));
    top: calc(736vmin / var(--h));
    left: calc(114vmin / var(--h));
    pointer-events: none;
    background: #000;
}

#motorSwitch:checked~.switchToggle {
    transform: translateX(calc(-21vmin / var(--h)));
}

#motorSwitch:checked~.spinner {
    animation: none;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.spinnerText {
    position: absolute;
    top: calc(668vmin / var(--h));
    left: calc(155vmin / var(--h));
}

.switchText {
    position: absolute;
    top: calc(768vmin / var(--h));
    left: calc(108.247vmin / var(--h));
    transform: translateX(-50%);
}

.line {
    position: absolute;
    top: calc(175vmin / var(--h));
    left: calc(226vmin / var(--h));
    width: calc(62vmin / var(--h));
    height: calc(146vmin / var(--h));
    background: url(/src/img/line.svg) no-repeat;
}

.resistance {
    position: absolute;
    top: calc(372vmin / var(--h));
    left: calc(237vmin / var(--h));
    width: calc(31vmin / var(--h));
    height: calc(140vmin / var(--h));
    background: url(/src/img/resistance.svg) no-repeat;
}

.sca1 {
    position: absolute;
    top: calc(603vmin / var(--h));
    left: calc(441vmin / var(--h));
    width: calc(89vmin / var(--h));
    height: calc(185vmin / var(--h));
    background: url(/src/img/sca1.svg) no-repeat;
}

.diode {
    position: absolute;
    top: calc(489vmin / var(--h));
    left: calc(837vmin / var(--h));
    width: calc(75vmin / var(--h));
    height: calc(98.5vmin / var(--h));
    background: url(/src/img/diode.svg) no-repeat;
}

.chip {
    position: absolute;
    top: calc(361vmin / var(--h));
    left: calc(778vmin / var(--h));
    width: calc(41vmin / var(--h));
    height: calc(55vmin / var(--h));
    background: url(/src/img/chip.svg) no-repeat;
}

a.button {
    display: block;
    text-decoration: none;
    position: absolute;
    width: calc(43vmin / var(--h));
    height: calc(43vmin / var(--h));
    background: url(/src/img/button.svg) no-repeat center;
    background-size: contain;
}

.About {
    top: calc(193vmin / var(--h));
    left: calc(373vmin / var(--h));
}

.Activity {
    top: calc(235vmin / var(--h));
    left: calc(735vmin / var(--h));
}

.Project {
    top: calc(597vmin / var(--h));
    left: calc(693vmin / var(--h));
}

.Social {
    top: calc(555vmin / var(--h));
    left: calc(331vmin / var(--h));
}

header h3 {
    height: calc(43vmin / var(--h));
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 2.4vmin;
    position: absolute;
}

h3.About {
    left: calc(305vmin / var(--h));
}

h3.Activity {
    left: calc(790vmin / var(--h));
}

h3.Project {
    left: calc(714.5vmin / var(--h));
    top: calc(629vmin / var(--h));
    transform: translateX(-50%);
}

h3.Social {
    left: calc(263vmin / var(--h));
}

/* about */

#About {
    position: fixed;
    background: #000;
    z-index: 1;
    opacity: 0;
    width: 100vw;
}

.container {
    width: 300vw;
    height: 100vmin;
}

#About h2 {
    font-size: 3rem;
    font-weight: 400;
}

#About h3 {
    font-size: 2rem;
    font-weight: 400;
}

#About>.container>div {
    padding: 2em;
}



.reminder {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 100svh;
}

@media (max-aspect-ratio: 1/1) {
    .reminder {
        display: flex;
    }

    main {
        display: none;
    }
}